@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alternative-screen-header.css";
@import "components/not-mobile.css";
@import "components/spash.css";

/* Screens */
@import "screens/variables.css";
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0, 0.8);
  background-color: var(--main-color-light);
}

.welcome-header {
  margin: 110px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 600;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

.main-screen {
  padding: 0 var(--horizontal-space);
}

.welcome-header__text:last-child {
  margin-top: 15px;
  font-size: 14px;
}
