.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alt-header__title {
  font-size: 28px;
  font-weight: bold;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}

.alt-header__column span:first-child {
  margin-right: 20px;
}
