.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: cyan;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgb(0, 0, 0, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: darkslategray;
}
.nav__btn {
  position: relative;
}

.nav__notifiation {
  background-color: darkslategray;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  right: -10px;
  bottom: 15px;
}
