.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: cyan;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgb(0, 0, 0, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: darkslategray;
}
.nav__btn {
  position: relative;
}

.nav__notifiation {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
