@import "challenge6_top.css";
@import "challenge6_main.css";
@import "challenge6_middle.css";
@import "challenge6_bottom.css";

* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.wrapper {
  box-sizing: border-box;
  width: 340px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
