input {
  border: none;
  font-size: 18px;
}
input::placeholder {
  color: rgb(0, 0, 0, 0.5);
}
input:focus {
  outline: none;
}

.header__box {
    width: 340px;
    height: 100px;
    background-color: coral;
  }
  
  .header__text {
    margin: 30px 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  
  .search-engine {
    position: relative;
    right: -20px;
    top:-25px;
    background-color: white;
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    padding: 18px 12px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0, 0.5);
    margin-bottom:30px;