* {
  box-sizing: border-box;
}
:root {
  --main-color: black;
  --font-color: white;
  --sub-color: white;
  --border-color: white;
  --point-color: coral;
  --high-color: violet;
  --button-color: gray;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  font-weight: bold;
  color: var(--sub-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.playlist-window {
  width: 400px;
  height: 800px;
  padding: 10px 20px;
  background-color: var(--main-color);
  border: 3px solid var(--high-color);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.playlist-header {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
}
.playlist-header__element {
  font-size: x-large;
  width: 33%;
}
.playlist-header__element:last-child {
  display: flex;
  justify-content: center;
}

.button-box {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--point-color);
  box-shadow: 0 3px var(--point-color);
}
.button__play {
  width: 200px;
  border-radius: 20px;
  font-size: x-large;
}
.button__play span {
  margin: 0 6px;
}
.button__play span:first-child {
  color: var(--high-color);
}
.button__like-plus {
  width: 60px;
  border-radius: 50%;
}

.main {
  height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.main__album-cover {
  width: 150px;
  height: 150px;
  border: 3px solid var(--border-color);
  border-radius: 20%;
}
.main__text {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px 12px;
}
.main__text span {
  font-size: xx-large;
}
.main__text span:last-child {
  font-size: small;
  font-style: italic;
}

.playlist {
  height: 360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.playlist__column {
  display: flex;
  justify-content: flex-start;
  border-top: 2px solid var(--border-color);
  padding-top: 10px;
  padding-bottom: 12px;
}
.playlist__album-cover {
  width: 60px;
  height: 60px;
  border: 3px solid var(--sub-color);
  border-radius: 20%;
  margin-right: 20px;
}
.playlist__column__text {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.playlist__column__text span:first-child {
  font-size: large;
}
.playlist__column__text span:last-child {
  font-size: small;
  font-weight: normal;
  font-style: italic;
}
.playlist__column:last-child {
  border-bottom: 2px groove var(--high-color);
}

.playbutton-box {
  height: 40px;
  display: flex;
  justify-content: space-around;
}
.playbutton {
  width: 40px;
  height: 40px;
  opacity: 80%;
  color: var(--sub-color);
}

.playbutton:hover {
  opacity: 100%;
  color: var(--high-color);
}
