.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color-light);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 2px solid rgb(0, 0, 0, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link i {
  color: var(--main-color);
}

.nav__btn {
  transform: translateY(-50px;);
  position: relative;
  animation: appearBtnAnimation 1s ease-in-out;
}

.nav__notifiation {
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-out infinite;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  30% {
    transform: translateY(-5px) rotateY(360deg);
  }
  60% {
    transform: none;
  }
}

@keyframes appearBtnAnimation {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn:first-child {
  animation-delay: 0.4s;
}
.nav__btn:nth-child(2) {
  animation-delay: 0.6s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.8s;
}
.nav__btn:nth-child(4) {
  animation-delay: 1s;
}
