#no-mobile {
  position: absolute;
  top: 0;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}

.no-mobile__coffee {
  width: 10%;
  height: 10%;
}
.no-mobile__hand {
  width: 10%;
  height: 10%;
}
