@keyframes hide-splash-screen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}

#splash-screen {
  background-color: var(--main-color);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 132px;
  animation: hide-splash-screen 0.2s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen span {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

#splash-screen span:last-child {
  margin-top: 20px;
}
