.user-component {
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  border: 2px solid black;
  margin-right: 20px;
}

.user-component__title {
  font-weight: bold;
  font-size: 22px;
}

.user-component_subtitle {
  margin-top: 5px;
  color: var(--gray-color);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: normal;
}

.user-component__column:last-child {
  color: var(--gray-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-component__title h4 {
  display: inline;
}

.user-component_subtitle {
  margin-top: 8px;
}

.user-component:hover:not(.no-effect) {
  transform: scale(1.05);
  border-radius: 20px;
  padding: 10px;
  background-color: var(--main-color-light);
}
.user-component:not(.no-effect) {
  cursor: pointer;
}
